<?xml version="1.0" encoding="UTF-8"?>
  
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.petru224.socialnetworks"
        version="0.0.1">

    <name>SocialNetworks</name>

    <description>
        Provides access to social apps
    </description>

    <repo>
        https://github.com/petru224/social-networks.git
    </repo>

    <keywords>
        cordova, socialApps, facebook, twitter
    </keywords>  

	<engines>
	    <engine name="cordova" version=">=3.6.0" />
	</engines>


    <!-- interface -->
    <js-module src="www/social_networks.js" name="socialNetworks">
        <clobbers target="socialNetworks" />
    </js-module>

 	<!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SocialNetworks">
                <param name="ios-package" value="SocialNetworks"/>
            </feature>
        </config-file>

        <header-file src="src/ios/SocialNetworks.h" />
        <source-file src="src/ios/SocialNetworks.m" />

    </platform>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SocialNetworks">
                <param name="android-package"
                       value="com.petru224.socialnetworks.SocialNetworks"/>
            </feature>
        </config-file>

        <source-file
            src="src/android/SocialNetworks.java"
            target-dir="src/com/petru224/socialnetworks" />

    </platform>
	
	
</plugin>
